.grid {
  height: 100%;
  background-color: var(--background-color);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;

  &::after {
    content: "";
    height: 0.01rem;
    grid-column: span 2;
  }
}