.search {
  color: var(--text-color);
  position: relative;
  height: 1.5rem;

  svg {
    font-size: 1.5rem;
  }

  input {
    width: 0;
    padding: 0;
    border: 0;
    transition: width 0.2s;
    font-size: 1rem;
    font-family: inherit;
    color: var(--text-color);
    position: absolute;
    left: 1.75rem;
    
    &::placeholder {
      color: var(--text-color);
    }

    &:focus {
      outline: 0;
    }
    
    &[data-is-open=true] {
      width: calc(100vw - 3.75rem);
      border-bottom: 1px solid var(--text-color);
    }
  }
}