button.button {
  color: var(--primary-color);
  background-color: var(--background-color);
  box-shadow: var(--primary-shadow);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 0;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.85rem;

  &:focus {
    outline: none;
  }
}