.tutorial {
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto 4rem;
  place-items: center;
  padding: 2rem;
  height: calc(var(--vh, 1vh) * 100);
  box-sizing: border-box;
}

.step {
  text-align: center;
  display: none;

  &[data-active=true] {
    display: block;
  }

  h1 {
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.25rem;
    margin: 0.5rem;
  }

  h2 {
    color: var(--primary-color);
    font-weight: 500;
  }

  p {
    font-size: 0.85rem;
    color: var(--text-color);
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  span {
    font-family: none;
    font-size: 1.5rem;
    color: darken(#f0f1f8, 5%);

    &[data-active=true] {
      color: var(--primary-color);
    }
  }
}