.navigation {
  display: flex;
  background-color: var(--background-color);
  height: 3.5rem;
  box-shadow: var(--primary-shadow);

  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.65rem;
  }
  
  a[aria-current] {
    color: var(--primary-color);
  }
  
  a > svg {
    font-size: 1.65rem;
  }

  // @media (orientation: landscape) {
  //   flex-direction: column;
  //   width: 3.5rem;
  //   height: 100%;
  // }
}