@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.home {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 3rem;

  div {
    text-align: center;
  }
  
  img {
    width: 30%;
    padding-bottom: 1rem;
  }
  
  p {
    font-size: 0.85rem;
    color: var(--text-color);
  }
  
  h1 {
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.25rem;
    margin: 0.5rem;
  }
  
  button {
    opacity: 0;

    @media all and (display-mode: standalone) {
      visibility: hidden;
    }
  }
}
