.capture {
  height: 100%;
  position: relative;
}

.capture > video, .capture > canvas {
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 - 3.5rem);
}

.capture > svg {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  border-radius: 1rem;
  background-color: #fd3f3f;
  color: #f0f1f8;
  padding: 0.6rem;
}

.capture > svg.animate > path {
  transform-origin: center;
  animation: animation 1.75s infinite ease-in-out;
}

@keyframes animation {
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}