.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  color: #fd3f3f;
  box-sizing: border-box;
  width: 100%;
}

.modal > img {
  width: 90%;
}

.modal h2 {
  margin: 0;
  color: #2f3137;
  font-size: 1.5rem;
}