.container {
  height: calc(var(--vh, 1vh) * 100);
  
  .router {
    height: calc(100% - 3.5rem);
    background-color: var(--background-color);
  }

  // @media (orientation: landscape) {
  //   display: flex;
  
  //   .router {
  //     height: 100%;
  //     width: calc(100% - 3.5rem);
  //   }
  // }
}

